.content {
    display: flex;
    justify-content: center;
  }

  .col2{
    margin-left: 2em;
  }

  .highlight {
    height: 2rem;
    width: 6rem;
    background-color: #bbb;
    border-radius: 3rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: center;
   
  }